@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "User", FormMethod.Post))
{
    <div class="form-group">
        <label for="email">Unesite svoj email:</label>
        <input type="email" class="form-control" name="email" required />
    </div>
    <button type="submit" class="btn btn-primary">Prijavi se</button>
}

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}
