@model KomsijaProjekat.Models.Brand

@{
    ViewBag.Title = "Delete Brand";
}

<h2>Delete Brand</h2>

<h3>Are you sure you want to delete this brand?</h3>

<div>
    <h4>@Model.Name</h4>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken() <!-- Dodaj Anti-Forgery Token -->

    @Html.HiddenFor(model => model.Id)
    <button type="submit" class="btn btn-danger">Delete</button>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
}
